<br>
<div class="container-fluid about" style="margin-left: 7%; margin-right: 7%; width: 86%;">
  <span class="display-4">О компании</span>
  <br>
  <br>
  <p><strong>Mitsubishi Motors Corporation (ММС)</strong> — транснациональная автомобилестроительная компания, входящая в группу ТМ «Mitsubishi». Главными направлениями деятельности ММС являются:

  - разработка, проектирование, производство, монтаж, продажа и покупка, импорт и другие операции, связанные с автомобилями и их составными частями;

  - продажа измерительного оборудования;

  - работа в качестве страховых агентов в соответствии с законодательством, касающиеся страхования имущества от ущерба и возмещения самых убытков;

  - финансирование бизнеса.</p>

  <hr>

  <p>Основными акционерами ММС являются компании Mitsubishi Heavy Industries, Ltd., Mitsubishi Corporation, MHI Automotive Capital LLC 1, The Bank of Tokyo-Mitsubishi UFJ, Ltd. и другие. С октября 2016 года компания стала членом альянса Renault-Nissan. Продукты ММС продаются больше чем в 160 странах мира.

  Один из основных акционеров – Mitsubishi Corporation (MC) –  это глобальная бизнес-структура, которая развивает различные векторы работы и работает на пересечении индустрий, включающих в себя финансы, энергетику, машиностроение, химическую промышленность, пищевую индустрию и защиту окружающей среды. Основные задачи МС в настоящее время выходят за рамки традиционных торговых операций, поскольку компания диверсифицирует работу, начиная от обогащения полезных ископаемых, заканчивая инвестированием в строительство, развитием инфраструктуры, финансовых продуктов и производства товаров.

  Mitsubishi Corporation имеет больше 200 представительств в 90 странах мира и сеть с больше, чем 600 компаниями, что предоставляют работу около 65 000 людей по всему миру.

  Основными видами деятельности дистрибьютора является оптовая и розничная торговля автомобилями и запчастями к ним, техническое обслуживание и ремонт автотранспортных средств.</p>

  <hr>

  <p>Общество с ограниченной ответственностью «ЭМ ЭМ СИ УКРАИНА» ориентировано на постоянное повышение уровня удовлетворенности существующих и потенциальных потребителей автомобилей ТМ «Mitsubishi», предоставление потребителям полного комплекса услуг по приобретению автомобилей и послепродажного обслуживания, а также сопутствующих финансовых услуг.

  Задачами дистрибьютора является обеспечение населения Украины качественной, экономическим, экологическим и инновационным продуктом, которым являются автомобили Mitsubishi.</p>

  <img src="assets/about.jpg">
  <br><br>
  <h2>Цели компании</h2>
  <br>

  <p><strong>Цель компании «ЭМ ЭМ СИ УКРАИНА»</strong> — обеспечить максимальный уровень взаимодействия с производителем, ТМ «Mitsubishi», предоставлять качественное гарантийное и постгарантийное обслуживание автомобилей ТМ «Mitsubishi», обеспечение поставок и наличия склада оригинальных запчастей и аксессуаров.

  Компания имеет развитую сеть дилерских центров по всей Украине, которые сейчас насчитывают 27 автосалонов во всех регионах Украины, а также авторизованный дилерский центр на территории республики Молдова.</p>

  <br>
  <h2>Контакты</h2>

  <p>Официальный импортер Mitsubishi Motors в Украине

  04070, ул. Набережно-Крещатицкая, причал №4
  бизнес-центр "ДНЕПР-ПЛАЗА", 3 этаж

  г. Киев, Украина</p>

  <p>Информационная линия:

  0-800-50-03-50 (Звонки бесплатные со стационарных телефонов)

  Тел. +38 (044) 205-33-55
  Факс: +38 (044) 205-33-77
  info@mmcu.com.ua</p>

  <p>По вопросам приобретения автомобиля, запасных частей, сервисного обслуживания, пожалуйста, обращайтесь в ближайший дилерский центр.</p>
</div>

<br>
<app-comments [qualifier]="'home'"></app-comments>
