<div class="container-fluid">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
      <h5>Комментарии:</h5>
      <div style="padding: 10px">
        <div *ngIf="comments == null || comments == undefined || comments.length == 0" class="border" style="padding: 15px; margin-top: 15px">
          <p>Пока комментариев нет. Будьте первым!</p>
        </div>
        <div *ngFor="let comment of comments" class="border" style="padding: 15px; margin-top: 15px; cursor: pointer;">
          <span>Автор: {{comment.authorName}}</span>
          <img *ngIf="isAdmin()" (click)="delete(comment.id)" src="assets/delete.png" style="float: right; width: 25px; height: 25px; margin-top: 2px;">
          <hr>
          <span>{{comment.text}}</span>
          <hr>
          <span>Создано: {{comment.creationDate}}</span>
        </div>
      </div>
      <div *ngIf="isAuthorized()" style="padding: 15px; margin-top: 10px">
        <div class="form-group">
          <label for="input_comment">Текст комментария: </label>
          <textarea style="width: 600px" rows="6" cols="10" class="form-control"
                    id="input_comment" placeholder="Мяу" [(ngModel)]="newCommentText" required>
        </textarea>
          <br>
          <button type="submit" class="btn btn-primary" (click)="makeComment()">Опубликовать</button>
        </div>
        <div class="alert alert-danger" *ngIf="errors" style="margin-top: 20px; width: 400px;">
          {{errors}}
        </div>
      </div>
    </div>
  </div>
</div>
<br>
