<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-12 border" style="">
      <div class="row">
        <div class="col-8" style="padding: 0;">
          <img src="assets/7.png" style="width: 100%">
        </div>
        <div class="col-4" style="padding: 20px; float: right">
          <h2>ДИЗАЙН</h2>
          <br>
          <span style="font-size: 13px">
Лаконичный дизайн салона автомобиля сочетает в себе качественные материалы (мягкая отделка, декоративные вставки серебристого цвета, черные глянцевые накладки) и современные технологии, соответствуя всем требованиям комфорта и эргономичности.
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px">
    <div class="col-12 border" style="">
      <div class="row">
        <div class="col-4" style="padding: 20px; float: right">
          <h2>КОМФОРТ</h2>
          <br>
          <span style="font-size: 13px">
OUTLANDER - автомобиль нового уровня дизайна и комфорта. Интерьер автомобиля предлагает полный набор функциональных
удобств. Двухзонный климат-контроль, крышка багажника с электроприводом, система безключевого доступа в салон и запуск двигателя кнопкой. Объединяя исключительное качество, практичность и функциональность, новый OUTLANDER становится именно тем автомобилем, которого Вы ждали
          </span>
        </div>
        <div class="col-8" style="padding: 0;">
          <img src="assets/8.jpg" style="width: 100%">
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<app-comments [qualifier]="'outlander'"></app-comments>
